body{
background: #667db6; 
background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); 

}


img{
  margin-top: 10px;
}

#alert{
  font-weight: bold;
  text-transform: uppercase;
  font-size: large;
  text-align: center;
}

h1{
  text-align: center;
}